/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2017, 1:47:35 PM
    Author     : morganar
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2017, 2:45:23 PM
    Author     : morganar
*/



.nav-extended{
    background-color: black;
}

body,html{ 
    height: 100%; 
  font-family: GillSans, Calibri, Trebuchet, sans-serif;

}


.img-primeira{
    width: 100%;
    height:900px;

}

.img-segunda{
    width: 100%;
}


.img-apresentacao{
    height:2%;
    width: 100%;
}


.page-footer{
    background-color:#333333!important;   
}
.footer-copyright{
    background-color:#52240f !important;
}
h5{

}
/*SOBREENCREVENDO MATERIALIZE*/
.row .col{
    padding: 0 !important;
}

.txt_central{
    padding-left: 30px;  
}
.p1{
 
}
.p2{
    background-color: blue;
}
.p3{
    background-color: green;
}
.introTXT{
    color:goldenrod !important;
    font-size: 40pt !important;
    text-justify:kashida;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
.blockquote {
     border-left: 5px solid #009881 !important;
}
.textoCentral{ 
     background-color: black;
     opacity: 0.5;
     color:white;
     font-size: 20pt;
 
}
.img_txt_central{
    height: 20px;
    width: 50px;
    
}